@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alegreya Sans', sans-serif;
}

.text-primary { color: #0C1D37; }
.text-secondary { color: #E92C43; }
.text-white { color: white; }

.bg-primary { background-color: #0C1D37; }
.bg-secondary { background-color: #E92C43; }
.bg-white { background-color: white; }

.iconify { color: white; }
a { text-decoration: none; }

.container {
    width: 100%;
    height: 100vh;
    background-color: #0C1D37;
    overflow: hidden;
}

header {
    width: 100%;
    padding: 40px 30px;
}

header h3 {
    font-size: 24px;
    font-weight: bolder;
}

main {
    display: grid;
    grid-template-columns: 0 2fr 1.6fr;
    grid-template-rows: 100%;
    height: 85%;
    padding: 0 30px ;
}

.jumbotron {
    margin-top: 100px;
}

.jumbotron__name h1 {
    font-size: 2.2rem;
    font-weight: bolder;
}

.jumbotron__name {
    margin-bottom: 20px;
}

.jumbotron__button {
    display: inline-block;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    border-radius: 40px;
    font-size: 12px;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(43, 38, 38, 0.03);
    font-weight: bold;
}

.social-media a {
    margin-right: 0.4rem;
}

.social-media a .iconify { 
    font-size: 30px;
    cursor: pointer;
}

.image {
    background-image: url('../img/image.png');
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (min-width: 768px){
    main {
        grid-template-columns: 1fr 2fr 1.3fr;
        padding: 0;
    }
    
    .line {
        width: 80%;
        height: 6px;
        border-radius: 3px;
        margin-top: 295px;
    }
    
    .jumbotron {
        margin-top: 142px;
    }
    
    .jumbotron__name {
        margin-bottom: 20px;
    }
    
    .jumbotron__name h1 {
        font-size: 3.1rem;
    }
    
    .jumbotron__button {
        font-size: 16px;
    }
    
}